@media screen and (max-width: 1024px) and (min-width: 767px) {
  .menu-item {
    display: none;
  }

  .logo-link {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-btn-mobile {
    display: block;
  }

  .index_main_contaner img {
    width: 100%;
    height: auto;
  }

  .wrap_imgs {
    display: none;
  }

  .product-card img {
    width: 100%;
  }

  .intro-text {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .about-brand-container,
  .review-form-contaner,
  .contacts_contaner_box {
    flex-direction: column;
  }

  .about-brand-text,
  .about-brand-images,
  .order_contaner,
  .review-form-contaner form,
  .review-form-contaner img,
  .contacts_contaner,
  .contacts_contaner img {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  h1 {
    font-size: 66px;
  }

  h2 {
    font-size: 32px;
  }

  .menu-item {
    display: none;
  }

  .logo-link {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-btn-mobile {
    display: block;
  }

  .index_main_contaner img {
    width: 100%;
    height: auto;
  }

  .wrap_imgs {
    display: none;
  }

  .product-card img {
    width: 100%;
  }

  .intro-text {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .about-brand-container,
  .review-form-contaner,
  .contacts_contaner_box {
    flex-direction: column;
  }

  .about-brand-text,
  .about-brand-images,
  .order_contaner,
  .review-form-contaner form,
  .review-form-contaner img,
  .contacts_contaner,
  .contacts_contaner img {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 414px) and (min-width: 320px) {
  h1 {
    font-size: 66px;
  }

  h2 {
    font-size: 32px;
  }

  .menu-item {
    display: none;
  }

  .logo-link {
    margin: 0;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-btn-mobile {
    display: block;
  }

  .index_main_contaner img {
    width: 100%;
    height: auto;
  }

  .wrap_imgs {
    display: none;
  }

  .product-card img {
    width: 100%;
  }

  .intro-text {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
  }

  .about-brand-container,
  .review-form-contaner,
  .contacts_contaner_box {
    flex-direction: column;
  }

  .about-brand-text,
  .about-brand-images,
  .order_contaner,
  .review-form-contaner form,
  .review-form-contaner img,
  .contacts_contaner,
  .contacts_contaner img {
    width: 100%;
    box-sizing: border-box;
  }
}
